@import "../../styles/main.scss";

.wrapper {

  display: inline-flex;
    
    input {
        border: 1px solid $grayThird;
        box-sizing: border-box;
        height: ($paddingBig + $paddingSmall);
        margin: $paddingSmall $paddingMedium;
        border-radius: ($paddingSmall / 2);
        padding: $paddingSmall $paddingMedium;
        width: 100%;
     
      }
    
      input:focus {
        border: 1px solid $primary;
        outline: 0;
      }
    
}