* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}




:root {
  --color-black: #010028;
  --color-white: #ffffff;
  --color-border: #eeeeee;
  --color-black-text: #5a676c;
  --color-gray: #999999;
  --color-gray-light: #fbfbfb;

  --border-radius: 4px;
  --border-color: #eeeeee;

  --padding-small: 8px;
  --padding-medium: 16px;

  --padding-big: 64px;
  --bg-login: var(--color-black)
}





input:-webkit-autofill {
  background-clip: text;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}
