$primary: #010028;
$secudary: #2176FF;


$gray: #5A676C;
$white: #FFF;
$blue: #2176FF;
$red: #DF524A;
$gren: #00B46E;
$yellow: #FDB25A;

$blueLight: #33A1FD;
$blueDark: #0B68FF;

$grayPrimary: #999999;
$graySecundary: #F8F9FA;
$grayThird: #EEEEEE;
$grayfourth: #FDFDFD;

$disabled: #010028cc;



