.wrapper {
    width: 100%;
    height: 51px;
    background: var(--bg-login);

    .container {
        justify-content: space-between;
        display: inline-flex;
        width: 100%;
        color: #fff;
        height: 100%;
        align-items: center;

    }

    .options {
        width: 20%;
        display: inline-flex;
        justify-content: space-between;

        nav {
            display: inline-flex;
        
            span {
                align-items: center;
                display: inline-flex;
                justify-content: start;
                padding: 0 16px;
            }
        } 

        .profile {
            padding: 0 16px;
        }
    }
}



.logo {
    font-size: 16px;
    padding: 0 16px;
}

.logoWrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 20%;

    span {
        height: 100%;
        background: #2176FF;
        width: 48px;
        justify-content: center;
        display: inline-flex;
        align-items: center;
    }
}





.navigation {
    width: 60%;
    display: inline-flex;
    justify-content: center;
    max-width: 600px;

    ul {
        display: inline-flex;

        li {
            display: inline-flex;
            font-weight: normal;
            color: #fff;
            padding:  0 16px;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }

}

